# Copyright 2024 Cheng Sheng
# SPDX-License-Identifier: Apache-2.0

# Board itself.
CONFIG_BOARD_BLUE_CAT=y
# MCU.
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_SOC_SERIES_NRF52X=y
# Memory protections.
CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y
